.navbar-brand {
  color: inherit;
}
.navbar-dark a {
  color: #A3BBAD !important;
  transition: all .4s ease;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.navbar-nav a:hover {
  color: #fff !important;
  background-color: #357266;
}

.login-area a{
  cursor: pointer;
}
