@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: 'Montserrat', sans-serif;
  background: #0E3B43;
  color: #A3BBAD;
}

.starter-template {
  padding-top: 4rem;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
